@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* TODO: Find Mulish assets? */
  font-family: Mulish, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
